@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Fjalla+One&display=swap');

.cta-section{
    margin: 70px auto;
    /* border: 4px solid red; */
}

.cta-section .row{
    border-radius: 20px;
    overflow: hidden;
    height: auto;
}

.cta-content{
    padding: 50px 30px !important;
    background-color: #6c9f6c;
    color: white;;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}

.cta-content h2{
    font-family: "Fjalla One", sans-serif !important;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 1.3;
}

.cta-content p{
    font-family: 'Dosis', sans-serif;
    font-size: 1.2rem;
}

.cta-content .line{
    height: 3px;
    background: yellow;
    width: 150px;
    display: block;
}

.cta-content .cta-btn{
    font-weight: 600;
    text-decoration: none;
    color: #6c9f6c;
    background-color: yellow;
    padding: 10px;
    border-radius: 6px;
}

.cta-img-div{
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)) ,url('./assets/images/cta-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


@media (max-width: 768px){
    .cta-section .container .row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cta-content{
        padding: 50px 20px !important;
    }

    .cta-img-div{
        height: 400px;
        width: 100%;
    }
}
