
/* Footer starts from here */
.footer-section{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}   
.footer-container{
    background-color:#6c9f6c;
    color: white;
}
.footer-content{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 350px;
    margin-top:10%;
    font-family: "Dosis", sans-serif;
    padding-top: 5%;
}
.footer-content h3{
    font-size: 25px;
    font-family: "Fjalla One", sans-serif;
}
.footer-first-heading{
    font-family: "Fjalla One", sans-serif;
    font-size: 45px !important;
}
.footer-first-heading span{
    background-color: greenyellow;
    width: 10px;
    height: 10px;
    color: white;
    display: inline-block;
}
.footer-content-1 ul{
    margin-top: 10%;
    font-size: 18px;
    line-height: 40px;
}
.footer-content-1 li{
    list-style: none;
    display: flex;
    gap: 15px;
}
.footer-content-1 li:hover{
    color:silver;
}
.footer-icon-first{
    margin-top: 5%; 
    font-size: 18px;
}
.footer-content-2{
    margin-top: 15px;
}
.footer-content-2 ul{
    margin-top: 22%;
    font-size: 20px;
    line-height: 40px;
}
.footer-content-2 ul li{
    list-style: none;
    margin-left: 5px;
    color: white;
}
.footer-content-2 ul li:hover{
    color: silver;
}
.footer-content-3{
    margin-top: 15px;
}
.footer-content-3 p{
    margin-top: 10%;
    font-size: 18px;
    line-height: 30px;
}
.footer-content-3 p:hover{
    color: silver;
}
.footer-content-3 input{
    padding: 12px 10px; 
    font-size: 16px;
    margin-top: 5%;
    border: none;
}
.footer-content-3 button{
    padding: 14px;
    margin-left: -4px;
    border: none;
    background-color: green;
    color: white;
    cursor: pointer;
    transition: all ease 0.3s;
}
.footer-content-3 button:hover{
    border: 2px solid white;
    background-color: transparent;
}
.footer-line{
    width: 90%;
    color: white;
    border: 1px solid white;
    display: inline-block;
    margin-left: 5%;
}
.copyright-line{
    display: flex;
    margin-left: 70px;
    margin-top: 20px;
    font-size: 20px;
    font-family: "Dosis", sans-serif;
    justify-content: space-between;
}
.copyright-line p{
    margin-bottom: 3%;
}
.footer-second-icon{
    margin-left: 20px;
    font-size: 22px;
    position: relative;
    /* left: 100%; */
    display: flex;
    right: 80px;
}
.footer-second-icon:hover{
    color: silver;
}

/* Footer-Resposive */

@media only screen and (max-width: 992px){

    .copyright-line p{
        width: 400px;
    }

}
@media only screen and (max-width: 776px){

    .footer-content h3{
        font-size: 20px;
    }
    .footer-first-heading{
        font-size: 35px !important;
    }

}
@media only screen and (max-width: 700px){

    .footer-content{
        display: flex;
        flex-direction: column;
        height: 1000px;
        margin-left: 50px;
    }
    .footer-first-heading{
        font-size: 50px !important;
    }
    .footer-content-1 ul{
        margin-top: 5%;
    }
    .footer-content-1 ul li{
        font-size: 25px;
    }
    .footer-icon-first{
        margin-top:2% ;
    }
    .footer-content h3{
        font-size: 35px;
    }
    .footer-content-2 ul{
        margin-top: 5%;
    }
    .footer-content-2 ul li{
        font-size: 25px;
    }
    .footer-content-3 p{
        margin-top: 5%;
    }
    .copyright-line{
        margin-left: 40px;
    }
    .copyright-line p{
        font-size: 16px;
        width: 300px;
    }
    .footer-second-icon{
        right: 40px;
    }
}

@media only screen and (max-width: 500px){

    .footer-content{
        height: 700px;
    }
    .footer-second-icon{
        margin-left: 10px;
        font-size: 18px;
    }
    .copyright-line p{
        font-size: 16px;
        width: 200px;
    }
    .footer-first-heading{
        font-size: 25px !important;
    }
    .footer-content-1 ul li{
        font-size: 18px;
    }
    .footer-icon-first{
        margin-top:4.5% ;
    }
    .footer-content-2 ul li{
        font-size: 18px;
    }
    .footer-content-3 p{
        font-size: 16px;
        width: 200px;
    }
    .footer-content h3{
        font-size: 20px;
    }
    .footer-content-3 input{
        padding: 8px 8px; 
        width: 150px;
    }    
    .footer-content-3 button{
        width: 80px;
        height: 35px;
        position: relative;
        top: -1px;
        font-size: 12px;
        padding: 0;
    }
}

@media only screen and (max-width: 500px){
    .footer-second-icon{
        right: 20px;
        margin-left: 0;
    }
}
/* end footer */